* {
    scrollbar-color: rgb(57, 0, 79) rgb(227, 192, 255);
}

@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background-academia.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    transform: scale(1.15);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.45em;
}

header {
    display: flex;
    width: 100%;
    position: static;
    background-color: rgba(16, 0, 67, 0.546);
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: left;
    width: 30vw;
    padding: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    background-color: rgb(64, 0, 132);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 0.3em;
    background-color: rgb(52, 0, 88);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    background-color: rgb(100, 79, 255);
    width: 100%;
}

nav li {
    width: 100%;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    line-height: 1;
}

nav li a:hover, nav li a.active {
    background-color: rgb(102, 51, 255);
    font-weight: bolder;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(55, 29, 97, 0.868);
    justify-content: left;
    min-width: 20%;
    transform-origin: top;
}

nav li:hover .dropdown {
    display: block;
    width: auto;
    animation: slideDown 0.3s ease-out forwards;
}

#main {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 70%;
    min-height: 70vh;
    overflow-x: hidden;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: rgba(188, 160, 255, 0.6);
    padding: 3em;
    border-radius: 1em;
}

#top {
    display: flex;
    justify-content: space-between;
}

#table-of-contents, #top-pic {
    flex: 1;
    margin: 7%;
    height: fit-content;
}

#table-of-contents {
    background-color: rgba(255, 255, 255, 0.669);
    padding-left: 1em;
}

#top-pic img {
    border: 0.3em groove black;
    max-width: 100%;
    height: auto;
}

div p:first-child {
    text-indent: 0;
}

div p:first-child::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bolder;
}

p {
    text-indent: 2em;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    display: flex;
    width: 100%;
    position: static;
    background-color: rgba(16, 0, 67, 0.546);
    z-index: 100;
    border-top: 0.3em solid rgb(52, 0, 88);
}

footer > p {
    color: rgba(245, 205, 255, 0.603);
    font-size: 0.6em;
}

footer > p:any-link {
    color: rgba(245, 205, 255, 0.603);
}

table {
    display: flex;
    justify-content: center;
    background-color: rgba(208, 208, 208, 0.402);
    width: fit-content;
}

table, td, th {
    border: 0.12em groove;
    border-color: rgb(8, 0, 69);
}

tr:nth-child(even) {
    background-color: rgba(100, 36, 169, 0.226);
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .dropdown {
        min-width: 100%;
    }
    #top {
        flex-direction: column;
    }
}
